
body{
    background-color: rgb(124, 224, 224);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    font-size: 12pt;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    color: brown;
    font-size: 24pt;
    border: solid black 1pt;
    margin-top: 50px;
    margin-left: 45%;
    margin-right: 40%;
    text-align: center;
    background-color: aliceblue;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(37, 15, 229);
    font-size: 20pt;
    border-style: solid blue 2px;
}

h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16pt;
    color: rgb(23, 2, 55);
}

p {
    text-align: justify;
    line-height: 1.2;
}

strong {
    color: rgb(5, 72, 196);
}