#caja{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 30px;
    margin-bottom: 0;
    padding: 10px;
    border-top: 4px solid red;
    border-right: 6px solid blue;
    border-bottom: 2px solid green;
    background-color: yellow;
    
}