#contenedor {
  display: grid;
  gap: 20px;
}

.apartado {
  padding: 1em;
  background: #B2FFFF;
  color: #222;
  border-radius: 6px;
}

@media (min-width: 993px) {
  #contenedor {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  #contenedor {
    grid-template-areas:
      "caja1 caja1"
      "caja2 caja3"
      "caja4 caja4";
    grid-template-columns: 1fr 1fr;
  }
  #introduccion { grid-area: caja1; background: #cccccc; }
  #adaptativo { grid-area: caja2; }
  #responsive { grid-area: caja3; }
  #conclusion { grid-area: caja4; background: #cccccc; }
}

@media (max-width: 768px) {
  #contenedor {
    grid-template-columns: 1fr;
  }
}
