
* {font-family: Arial, Helvetica, sans-serif;}
h1{
    text-align: center;
}

h4{
    color: blue;
}

nav ul {
    background-color: blue;
    list-style-type: none;
    text-align: center;
    margin-left: 12.5%;
    margin-right: 12.5%;
    border-radius: 5px;
}

nav ul li {
    font-weight: bold;
    display: inline;
    margin: 5%;
    color: white;
    text-align: center;
}


#contenedor{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    width: 75%;
    margin-left: 12.5%;
    margin-right: 12.5%;

}

#elem1, #elem2, #elem3, #elem4 {
    background-color: white;
    border: double blue;
    border-radius: 10px;
    
}

#elem1{
    grid-column: 1;
    grid-row: 1/3;
    text-align: center;
}

#elem2{
    grid-column: 2;
    grid-row: 1/3;
    text-align: center;
}

#elem3{
    grid-column: 3;
    grid-row: 1/4;
    text-align: center;
}

#elem4{
    grid-column: 1/3;
    grid-row: 3/3;
    background-color: blue;
    color: white;
    text-align: center;
}