

h1 {
    background-color: yellow;
    color: blue;
    width: 50%;
    border: solid 1px black;
}

#contenedor{
    width: 50%;
    background-color: rgb(192, 10, 10);
    display: grid;
    grid-template-columns: 25fr 50fr 25fr;
    grid-template-rows: 50px 50px;
    gap: 10px;
    
}

#elem1, #elem2, #elem3, #elem4 {
    background-color: lightgrey;
    border: solid 1px black;
}

#elem1 {
    grid-column: 1;
    grid-row: 1/3;
}

#elem2 {
    grid-column: 2/4;
    grid-row: 1;
}
